<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.foodapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Logic.OrderConfirmed.OrderConfirmed"
            android:label="@string/title_activity_order_confirmed"
            android:parentActivityName=".Logic.IngredientsSelector.InredientsSelector"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logic.IngredientsSelector.InredientsSelector" />
        </activity>
        <activity
            android:name=".Logic.Settings.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Logic.MainActivityMenu.Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logic.MainActivityMenu.Menu" />
        </activity>
        <activity
            android:name=".Logic.IngredientsSelector.InredientsSelector"
            android:label="@string/title_activity_inredients_selector"
            android:parentActivityName=".Logic.MainActivityMenu.Menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logic.MainActivityMenu.Menu" />
        </activity>
        <activity android:name=".Logic.MainActivityMenu.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>